/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* cdn font */
@import url("https://fonts.cdnfonts.com/css/miama");

/* Universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

/* shared style */

#change-habit,
#run-easily,
#challenge-section,
#training-and-exercise,
#meet-our-team {
  background-color: black;
}
section {
  padding-bottom: 100px;
}
.section-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.section-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.5);
}
.btn-primary {
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  padding: 15px 50px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: rgb(230, 83, 60);
}

/* header section */

#header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    rgb(0, 0, 0, 0.9),
    rgb(0, 0, 0, 0.9),
    rgb(0, 0, 0, 0.9),
    rgba(1, 0, 0, 1)
  );
}
.navbar {
  color: white;
  max-width: 1060px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  color: rgb(230, 83, 60);
}
.navbar ul {
  display: flex;
  gap: 50px;
  padding: 12px 30px 12px 0;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav-home a {
  padding: 12px 30px;
  border-radius: 50px;
  background: rgb(230, 83, 60);
}

/* banner section */

.banner {
  color: white;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 50%;
}
.banner-text h1 {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.banner-text h1 span {
  font-family: "Miama", sans-serif;
  font-size: 150px;
  font-weight: 400;
}
.banner-text p {
  margin: 30px 0;
  font-size: 16px;
}
.banner-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.banner-image img {
  display: flex;
  bottom: 0;
  left: 200px;
}
.video-tutorial {
  position: absolute;
  left: 90px;
  gap: 10px;
  bottom: 65px;
  padding: 20px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
}
.video-tutorial h2 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
.video-tutorial p {
  font-size: 16px;
}
.red-spot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.free-videos {
  position: absolute;
  top: 125px;
  right: -55px;
  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(42, 42, 42, 0.5);
}
.free-videos h1 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.free-videos p {
  font-size: 13px;
}
.download-button {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  padding: 15px 50px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* change-your-habit-section */

.change-habit-container {
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 100px;
}
.habit-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
.habit-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.habit-card {
  color: white;
  text-align: center;
}
.habit-card h2 {
  margin: 20px 0 10px 0;
}
.habit-card p {
  width: 80%;
  margin: 0 auto;
}
.habit-card img {
  border-radius: 50%;
}

/* Run an Extra Mile Easily section */

.run-easily {
  max-width: 1060px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  background: rgb(34, 34, 34);
}
.run-easily-texts {
  width: 60%;
  padding-right: 200px;
}
.run-easily-texts p {
  margin-bottom: 20px;
  letter-spacing: 0.3px;
}
.run-easily-image {
  width: 40%;
}
.run-easily-image img {
  width: 100%;
  border-radius: 15px;
}

/* challenge section */
#challenge-section{
  text-align: center;
  color: white;
}

/* training and exercise section */

.exercise-container {
  max-width: 1060px;
  margin: 0 auto;
}
.exercise-title {
  color: white;
}
.exercise-body {
  width: 50%;
  margin-bottom: 30px;
}
.exercise-image-row1 {
  display: grid;
  margin-bottom: -5px;
  grid-template-columns: 0.8fr 1.5fr 1fr;
}
.exercise-image-row1 img {
  width: 100%;
  height: 220px;
}
.row1-images1,
.row1-images2,
.row1-images3,
.row2-images1,
.row2-images2,
.row2-images3 {
  position: relative;
}
.row1-images1 p {
  color: white;
  position: absolute;
  font-size: 35px;
  bottom: 15%;
  left: 10%;
}
.row1-images2 p {
  color: white;
  position: absolute;
  font-size: 35px;
  top: 10%;
  left: 8%;
}
.row1-images3 p {
  color: white;
  position: absolute;
  font-size: 35px;
  bottom: 15%;
  left: 10%;
}

.exercise-image-row2 {
  display: grid;
  grid-template-columns: 1.4fr 0.8fr 1fr;
}
.exercise-image-row2 img {
  width: 100%;
  height: 220px;
}
.row2-images1 p {
  color: white;
  position: absolute;
  font-size: 35px;
  top: 10%;
  right: 10%;
}
.row2-images1 img {
  filter: brightness(0.5);
}
.row2-images2 p {
  color: white;
  position: absolute;
  font-size: 35px;
  bottom: 10%;
  left: 10%;
}
.row2-images3 p {
  color: white;
  position: absolute;
  font-size: 35px;
  bottom: 10%;
  left: 10%;
}

/* bmi-calculator-title */

.bmi-title-container {
  background-color: black;
}
.bmi-title {
  color: white;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 300px;
  padding-bottom: 100px;
}

/* bmi calculator */

#bmi-calculator {
  background: rgb(34, 34, 34);
  padding-bottom: 0;
}
.bmi-calculator-container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 70px 0;
  display: grid;
  gap: 100px;
  grid-template-columns: 0.8fr 1.2fr;
}
.bmi-chart {
  color: rgba(255, 255, 255, 0.5);
}
.bmi-table,
th,
td {
  padding: 15px;
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.bmi-chart h1 {
  font-size: 28px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
}
.bmi-table {
  width: 90%;
}
.bmi-table th {
  font-size: 18px;
  text-align: left;
  width: 50%;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.calculate-bmi h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.calculate-bmi p {
  font-size: 16px;
  margin-bottom: 30px;
}
.bmi-input1,
.bmi-input2 {
  display: flex;
  gap: 20px;
  color: gray;
  margin-bottom: 20px;
}
.bmi-input1 input,
.bmi-input2 input,
select {
  padding: 15px;
  border: none;
  border-radius: 8px;
  width: 50%;
  color: gray;
  background-color: rgb(65, 65, 65);
}
.bmi-input3 select {
  width: 100%;
  color: gray;
  margin-bottom: 20px;
}
.bmi-input2 select option {
  padding: 30px;
}

/* meet our team */

.meet-team-container {
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 100px;
}
.our-team-title {
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 50px;
}
.trainer-images {
  padding: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
}
.trainer-images img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}
.trainer-image-row1,
.trainer-image-row2 {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.trainer-image-row1 > div,
.trainer-image-row2 > div {
  position: relative;
}
.trainer-image-row1 {
  margin-bottom: 30px;
}
.trainer-images h3 {
  position: absolute;
  font-size: 20px;
  bottom: 14%;
  left: 5%;
  color: rgb(255, 255, 255);
}
.trainer-images p {
  position: absolute;
  font-size: 16px;
  bottom: 6%;
  left: 5%;
  color: rgb(255, 255, 255, 0.5);
}
