/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* cdn font */
@import url("https://fonts.cdnfonts.com/css/miama");

/* Universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

/* shared style */

#change-habit,
#why-choose-us,
#pricing-table,
#run-easily,
#training-and-exercise,
#meet-our-team {
  background-color: black;
}
section {
  padding-bottom: 100px;
}
.section-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.section-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.5);
}
.btn-primary {
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  padding: 15px 50px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: rgb(230, 83, 60);
}

/* header section */

#header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1),
    rgb(0, 0, 0, 0.9),
    rgb(0, 0, 0, 0.9),
    rgb(0, 0, 0, 0.9),
    rgba(1, 0, 0, 1)
  );
}
.navbar {
  color: white;
  max-width: 1060px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  color: rgb(230, 83, 60);
}
.navbar ul {
  display: flex;
  gap: 50px;
  padding: 12px 30px 12px 0;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav-home a {
  padding: 12px 30px;
  border-radius: 50px;
  background: rgb(230, 83, 60);
}
.bar-icon {
  display: none;
}

/* banner section */

.banner {
  color: white;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  width: 50%;
}
.banner-text h1 {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
}
.banner-text h1 span {
  font-family: "Miama", sans-serif;
  font-size: 150px;
  font-weight: 400;
}
.banner-text p {
  margin: 30px 0;
  font-size: 16px;
}
.banner-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.banner-image img {
  display: flex;
  bottom: 0;
  left: 200px;
}
.video-tutorial {
  position: absolute;
  left: 90px;
  gap: 10px;
  bottom: 65px;
  padding: 20px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
}
.video-tutorial h2 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
.video-tutorial p {
  font-size: 16px;
}
.red-spot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.free-videos {
  position: absolute;
  top: 125px;
  right: -55px;
  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(42, 42, 42, 0.5);
}
.free-videos h1 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.free-videos p {
  font-size: 13px;
}
.download-button {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  padding: 15px 50px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* change-your-habit-section */

.change-habit-container {
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 100px;
}
.habit-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
.habit-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.habit-card {
  color: white;
  text-align: center;
}
.habit-card h2 {
  margin: 20px 0 10px 0;
}
.habit-card p {
  width: 80%;
  margin: 0 auto;
}
.habit-card img {
  border-radius: 50%;
}

/* why-choose-us section */

#why-choose-us{
  padding-bottom: 50px;
}
.why-choose-us {
  max-width: 1060px;
  margin: 0 auto;
}
.choose-title{
  width:60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.choose-content {
  display: flex;
}
.text-section {
  width: 65%;
  float: left;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding-right: 50px;
}
.choose-card-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.choose-card-item i {
  font-size: 2em;
  margin-right: 20px;
  color: rgb(230, 83, 60);
}
.choose-card-item h2 {
  font-size: 22px;
  margin-bottom: 12px;
  color: white;
}
.image-section {
  width: 35%;
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}
.choose-gym-image{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.image-section img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
}

/* pricing plans */

.pricing-plans {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.plan {
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 270px;
  padding: 20px;
  transition: transform 0.3s;
}
.plan:hover {
  transform: translateY(-10px);
}
.header {
  padding: 20px 20px 45px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}
.header.basic {
  background: linear-gradient(135deg, #00c6ff, #0072ff); 
}
.header.standard {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
}
.header.premium {  
  background: linear-gradient(135deg, #7f00ff, #e100ff);
}
.price {
  background-color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin: 0 auto;
  position: relative;
  top: -40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.price span {
  display: inline-block;
  vertical-align: middle;
}
.features {
  list-style: none;
  padding: 0;
  margin: -30px 0 20px 0;
}
.features li {
  margin: 10px 0;
  font-size: 1em;
  letter-spacing: .5px;
  color: rgb(255, 255, 255, 0.5);
}
.features .check {
  color: green;
  margin-right: 5px;
}
.features .cross {
  color: red;
  margin-right: 5px;
}
.order-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #333;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s;
}
.order-button:hover {
  background-color: #555;
}
.header h2, .header p {
  margin: 0;
}
.header h2 {
  font-size: 1.5em;
}
.header p {
  font-size: 0.9em;
}
/* Run an Extra Mile Easily section */

.run-easily {
  max-width: 1060px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  background: rgb(34, 34, 34);
}
.run-easily-texts {
  width: 60%;
  padding-right: 200px;
}
.run-easily-texts p {
  margin-bottom: 20px;
  letter-spacing: 0.3px;
}
.run-easily-image {
  width: 40%;
}
.run-easily-image img {
  width: 100%;
  border-radius: 15px;
}

/* challenge section */
#challenge-section {
  text-align: center;
  color: white;
}

/* training and exercise section */

.exercise-container {
  max-width: 1060px;
  margin: 0 auto;
}
.exercise-title {
  color: rgb(255, 255, 255);
}
.exercise-body {
  width: 50%;
  margin-bottom: 30px;
}
.exercise-images img {
  width: 100%;
  height: 220px;
}
.exercise-image-row1 {
  display: grid;
  margin-bottom: -5px;
  grid-template-columns: 0.8fr 1.5fr 1fr;
}
.exercise-image-row1 > div,
.exercise-image-row2 > div {
  position: relative;
  color: white;
}
.row1-images1 p {
  position: absolute;
  font-size: 25px;
  bottom: 12%;
  left: 10%;
}
.row1-images2 p {
  position: absolute;
  font-size: 25px;
  top: 10%;
  left: 8%;
}
.row1-images3 p {
  position: absolute;
  font-size: 25px;
  bottom: 12%;
  left: 10%;
}
.exercise-image-row2 {
  display: grid;
  grid-template-columns: 1.4fr 0.8fr 1fr;
}
.row2-images1 p {
  position: absolute;
  font-size: 25px;
  top: 10%;
  right: 10%;
}
.row2-images1 img {
  filter: brightness(0.5);
}
.row2-images2 p {
  position: absolute;
  font-size: 25px;
  bottom: 10%;
  left: 10%;
}
.row2-images3 p {
  position: absolute;
  font-size: 25px;
  bottom: 10%;
  left: 10%;
}

/* bmi-calculator-title */

.bmi-title-container {
  background-color: black;
}
.bmi-title {
  color: white;
  max-width: 1060px;
  margin: 0 auto;
  padding-left: 300px;
  padding-bottom: 100px;
}

/* bmi calculator */

#bmi-calculator {
  background: rgb(34, 34, 34);
  padding-bottom: 0;
}
.bmi-calculator-container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 70px 0;
  display: grid;
  gap: 100px;
  grid-template-columns: 0.8fr 1.2fr;
}
.bmi-chart {
  color: rgba(255, 255, 255, 0.5);
}
.bmi-table,
th,
td {
  padding: 15px;
  border-collapse: collapse;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.bmi-chart h1 {
  font-size: 28px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
}
.bmi-table {
  width: 90%;
}
.bmi-table th {
  font-size: 18px;
  text-align: left;
  width: 50%;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.calculate-bmi h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.calculate-bmi p {
  font-size: 16px;
  margin-bottom: 30px;
}
.bmi-input1,
.bmi-input2 {
  display: flex;
  gap: 20px;
  color: gray;
  margin-bottom: 20px;
}
.bmi-input1 input,
.bmi-input2 input,
select {
  padding: 15px;
  border: none;
  border-radius: 8px;
  width: 50%;
  color: gray;
  background-color: rgb(65, 65, 65);
}
.bmi-input3 select {
  width: 100%;
  color: gray;
  margin-bottom: 20px;
}
.bmi-input2 select option {
  padding: 30px;
}

/* meet our team */

.meet-team-container {
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 100px;
}
.our-team-title {
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 50px;
}
.trainer-images {
  padding: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
}
.trainer-images img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}
.trainer-image-row1,
.trainer-image-row2 {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}
.trainer-image-row1 > div,
.trainer-image-row2 > div {
  position: relative;
}
.trainer-image-row1 {
  margin-bottom: 30px;
}
.trainer-images h3 {
  position: absolute;
  font-size: 20px;
  bottom: 14%;
  left: 5%;
  color: rgb(255, 255, 255);
}
.trainer-images p {
  position: absolute;
  font-size: 16px;
  bottom: 6%;
  left: 5%;
  color: rgb(255, 255, 255, 0.5);
}

/* footer */
#footer {
  background: rgb(34, 34, 34);
}
.footer-content {
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  gap: 50px;
  padding: 100px 0 30px 0;
  grid-template-columns: 1fr 1fr;
}
.footer-menu-items {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.footer-title h1 {
  font-size: 70px;
  font-weight: 800;
  font-style: italic;
  color: rgb(230, 83, 60);
  margin-bottom: 20px;
}
.copyright p {
  font-size: 20px;
  padding: 40px;
  text-align: center;
  max-width: 1060px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-menu h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}
.footer-menu ul {
  font-size: 25px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.footer-menu ul li {
  list-style: none;
  margin-bottom: 20px;
}


/* media query for mobile device */

@media screen and (max-width: 576px) {
  .navbar {
    padding: 30px 20px;
  }
  .navmenu {
    display: none;
  }
  .navbar h1 {
    font-size: 30px;
  }
  .bar-icon {
    display: inline;
  }
  .bar-icon i {
    color: white;
  }
  .banner {
    padding: 20px;
    flex-direction: column;
  }
  .banner-text {
    width: 100%;
  }
  .banner-text h1 {
    font-size: 40px;
    font-weight: 900;
  }
  .banner-text h1 span {
    font-size: 70px;
    font-weight: 400;
  }
  .btn-primary {
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 400;
  }
  .download-button {
    padding: 15px 10px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 400;
  }
  .banner-button {
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .banner-image {
    width: 100%;
    zoom: 1;
    position: relative;
  }
  .video-tutorial {
    left: -20px;
    bottom: 230px;
    scale: 0.8;
  }
  .free-videos {
    top: 30px;
    right: -30px;
    scale: 0.7;
  }

  /* change your habit */

  #change-habit {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .change-habit-container {
    padding: 0 20px 0 20px;
  }
  .habit-title {
    width: 100%;
    margin-bottom: 50px;
  }
  .habit-title h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .habit-card-container {
    flex-direction: column;
  }
  .habit-card h2 {
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .habit-card p {
    width: 70%;
    margin-bottom: 30px;
  }
  .habit-card img {
    border-radius: 50%;
  }

  /* why-choose-us section */

  #why-choose-us{
    padding: 0 20px;
  }
  .choose-title{
    width: 100%;
  }
  .choose-title h1{
    font-size: 32px;
  }
  .choose-content{
    flex-direction: column;
  }
  .text-section{
    width: 100%;
    padding-right: 0;
    grid-template-columns: 1fr;
  }
  .image-section{
    width: 100%;
  }

  /* pricing section */

  #pricing-table{
    padding: 50px 20px;
  }
  .pricing-plans{
    flex-direction: column;
  }
  .plan{
    width: 80%;
    margin: 0 auto;
  }

  /* Run an Extra Mile Easily section */

  .run-easily {
    padding: 20px;
    margin: 0 20px;
    flex-direction: column;
  }
  .run-easily-texts h1 {
    font-size: 32px;
  }
  .run-easily-texts {
    width: 100%;
    padding-right: 0px;
  }
  .run-easily-texts button {
    width: 100%;
    margin-bottom: 30px;
  }
  .run-easily-texts p {
    margin-bottom: 30px;
  }
  .run-easily-image {
    width: 100%;
  }

  /* training and exercise section */

  #training-and-exercise {
    padding-bottom: 0;
  }
  .exercise-container {
    padding: 0 20px;
  }
  .exercise-body {
    width: 100%;
    margin-bottom: 30px;
  }
  .exercise-title h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .exercise-image-row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .exercise-image-row1 > div,
  .exercise-image-row1 > div {
    position: relative;
  }
  .exercise-images img {
    width: 100%;
    height: 120px;
  }
  .row1-images3,
  .row2-images3 {
    display: none;
  }
  .row1-images1 p {
    color: white;
    position: absolute;
    font-size: 15px;
    bottom: 10%;
    left: 7%;
  }
  .row1-images2 p {
    color: white;
    position: absolute;
    font-size: 15px;
    top: 8%;
    left: 10%;
  }
  .exercise-image-row2 {
    display: grid;
    grid-template-columns: 0.8fr 1.1fr;
  }
  .row2-images1 p {
    color: white;
    position: absolute;
    font-size: 15px;
    top: 7%;
    right: 10%;
  }
  .row2-images1 img {
    filter: brightness(0.5);
  }
  .row2-images2 p {
    color: white;
    position: absolute;
    font-size: 15px;
    bottom: 10%;
    left: 8%;
  }

  /* bmi-calculator-title */

  .bmi-title-container {
    padding: 50px 20px;
    border: none;
    background-color: black;
  }
  .bmi-title {
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .bmi-title h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  /* bmi calculator */

  #bmi-calculator {
    padding: 0 20px;
  }
  .bmi-calculator-container {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 50px 0;
  }
  .bmi-chart h1 {
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
  }
  .bmi-table {
    width: 100%;
  }
  .bmi-table th {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    width: 50%;
    color: rgb(255, 255, 255, 0.8);
  }
  .calculate-bmi h1 {
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
  }
  .bmi-calc-btn {
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 400;
  }

  /* meet our team */

  #meet-our-team {
    padding-bottom: 0;
  }
  .meet-team-container {
    padding: 50px 20px;
  }
  .our-team-title {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
  }
  .our-team-title h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .trainer-images {
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
  }
  .trainer-image-row1,
  .trainer-image-row2 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
  }
  .trainer-image-row1 {
    margin-bottom: 20px;
  }
  .trainer-images img {
    width: 100%;
    height: 230px;
    border-radius: 15px;
  }
  .trow1-images3,
  .trow2-images2 {
    display: none;
  }

  /* footer */
  #footer {
    padding: 0 20px;
  }
  .footer-content {
    gap: 30px;
    padding: 30px 0 20px 0;
    grid-template-columns: 1fr;
  }
  .footer-title h1 {
    font-size: 50px;
  }
  .footer-menu h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .footer-menu-items {
    grid-template-columns: 1fr;
  }
}

/* media query for tablet device */

@media screen and (min-width: 576px) and (max-width: 1060px) {
  .navbar {
    padding: 30px 30px;
  }
  .navbar h1 {
    font-size: 40px;
  }
  .navmenu ul {
    gap: 20px;
    padding: 10px 20px 10px 0;
  }
  .navmenu ul li {
    font-size: 16px;
  }
  .nav-home a {
    padding: 10px 20px;
  }
  .banner {
    padding: 20px 100px;
    flex-direction: column;
  }
  .banner-text {
    width: 100%;
  }
  .banner-image {
    width: 100%;
  }
  .video-tutorial {
    left: 140px;
    bottom: 130px;
  }
  .free-videos {
    top: 30px;
    right: -20px;
  }

  /* change your habit */

  #change-habit {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .change-habit-container {
    padding: 0 30px;
  }
  .habit-title {
    width: 80%;
    margin-bottom: 50px;
  }
  .habit-card-container {
    display: grid;
    padding: 0 70px;
    grid-template-columns: 1fr 1fr;
  }
  .habit-card p {
    margin-bottom: 40px;
  }






  /* why-choose-us section */

  #why-choose-us{
    padding: 0 30px;
  }
  .choose-title{
    width: 100%;
  }
  .choose-content{
    flex-direction: column;
  }
  .text-section{
    width: 100%;
    padding-right: 0;
  }
  .image-section{
    width: 100%;
  }

  /* why-choose-us section */

  #pricing-table{
    padding: 50px 20px;
  }
  .pricing-plans{
    flex-direction: column;
  }
  .plan{
    width: 80%;
    margin: 0 auto;
  }









  /* Run an Extra Mile Easily section */

  .run-easily {
    padding: 20px 30px;
    margin: 0 30px;
  }
  .run-easily-texts h1 {
    font-size: 36px;
  }
  .run-easily-texts {
    width: 100%;
    padding-right: 20px;
  }
  .run-easily-image {
    width: 80%;
  }
  .run-easily-image img {
    height: 300px;
  }

  /* training and exercise section */

  #training-and-exercise {
    padding-bottom: 0;
  }
  .exercise-container {
    padding: 0 30px;
  }
  .exercise-body {
    width: 100%;
  }
  .exercise-images img {
    height: 170px;
  }

  /* bmi-calculator-title */

  .bmi-title-container {
    padding: 50px 30px;
  }
  .bmi-title {
    padding-left: 0px;
    padding-bottom: 0px;
  }

  /* bmi calculator */

  #bmi-calculator {
    padding: 0 30px;
  }
  .bmi-calculator-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .bmi-table {
    width: 70%;
  }

  /* meet our team */

  #meet-our-team {
    padding-bottom: 0;
  }
  .meet-team-container {
    padding: 50px 30px;
  }
  .our-team-title {
    text-align: center;
    width: 80%;
  }
  .trainer-images img {
    height: 170px;
  }

  /* footer */
  #footer {
    padding: 0 30px;
  }
  .footer-content {
    gap: 30px;
    padding: 30px 0 20px 0;
    grid-template-columns: 1fr;
  }
  .footer-title{
    width: 70%;
    margin-bottom: 20px;
  }

}